<p id="notice"><%= notice %></p>

<h1>Welcome to the Health Tracker!</h1>
<br>
<h2>Follow your health by activly recording your calories consumed, steps taken, exercises preformed and your weight.</h2>

<br>
<p> You are, <%= @weight %>lbs.</p>
<p> You have taken, <%= @steps %> </p>
<p> You have consumed, <%= @calories_consumed %> calories </p>
<p> You have done the following exercises, <%= @exercise %></p>
