<%= form_for(@cals) do |f| %>
  <% if @cals.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cals.errors.count, "error") %> prohibited this cals from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number_of_cals %><br>
    <%= f.text_field :number %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
