<%= form_for(@kilocals) do |f| %>
  <% if @kilocals.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kilocals.errors.count, "error") %> prohibited this kilocals from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="select">
    <%= f.select(:meal_type, options_for_select([["Breakfast", "Breakfast"], ["Brunch", "Brunch"], ["Lunch", "Lunch"], ["Dinner", "Dinner"], ["Brinner", "Brinner"],["Snack", "Snack"]], :selected => 'lies')) %>
  </div>

  <div class="field">
    <%= f.label :number_of_kilocals %><br>
    <%= f.text_field :number %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
