<p id="notice"><%= notice %></p>

<h1>Kilocals</h1>

<table>
  <thead>
    <tr>
      <th>Calories burned (per hour)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kilocals.each do |kilocal| %>
      <tr>
        <td><%= kilocal.number%></td>
        <td><%= %></td>
        <td><%= %></td>
        <td><%= link_to 'Show', kilocal %></td>
        <td><%= link_to 'Edit', edit_kilocal_path(kilocal) %></td>
        <td><%= link_to 'Destroy', kilocal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kilocals', new_kilocal_path %>
