<%= form_for(@steps) do |f| %>
  <% if @steps.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@steps.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @steps.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number_of_steps %><br>
    <%= f.text_field :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
