<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="select">
    <%= f.select(:exercise_type_id, options_for_select([["Shoulders", ExerciseType.find(1).name], ["Arms", 2], ["Back", 3], ["Chest", 4], ["Abs", 5],["Legs", 6]])) %>
  </div>



  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :calories_burned %><br>
    <%= f.text_field :cals_per_hour %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
