<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %>
    <%= f.select(:type) %>

    <select>
    <option value="shoulders">shoulders</option>
    <option value="arms">Arms</option>
    <option value="back">Back</option>
    <option value="chest">Chest</option>
    <option value="abs">Abs</option>
    <option value="legs">Legs</option>
  </select>
  </div>

  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
