<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @exercise.hours %>
</p>


<p>
  <strong>Calories Burned</strong>
  <%= @exercise.number %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
